* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: inter;
  /* font-family: system-ui; */
}
.gradient {
  background-color: white;
  height: 100%;
  border-radius: 0.4em;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

.gradient-wrapper {
  flex: 1;
  padding: 0.6em;
  background-color: rgb(241, 241, 241);
}
.side-panel {
  z-index: 2;
  min-width: 20em;
  padding-inline: 1em;
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.3);
}
.title {
  font-size: 36px;
  text-align: center;
  padding-block: 1em 0.6em;
}
nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
nav li {
  position: relative;
}
.gradient-btn {
  display: block;
  position: relative;
  font-size: 20px;
  color: black;
  box-shadow: 0px 0px 2px 0px hsla(0, 0%, 0%, 0.4);
  /* border: 1px solid hsla(0, 0%, 0%, 0.2); */
  border-radius: 0.2em;
  text-decoration: none;
  padding: 0.6em;
  overflow: hidden;
}

.gradient-btn:hover {
  box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.6);
}
